
:root {
   --docSecond: rgb(69, 70, 75);
   --docMain: rgb(0,0,0);
   --docBgMain:  #eee;
   --docBgSecond: #ddd;
   --docDistinct: #F1C40F;
   --docDistinctSec: #c29d09;
 }
 
 html {
   box-sizing: border-box;
   font-size: 10px;
 }
 
 *,
 *:before,
 *:after {
      box-sizing: inherit;
 }
 
 body {
   margin: 0;
   padding: 0;
   color: var(--docMain);
   background-color: var(--docBgMain);
   font-family: "Lato", helvetica, arial, sans-serif;
   font-size: 2rem;
   text-shadow: 0, 2px, 0 rgba(0,0,0, .07);
   -webkit-overflow-scrolling: touch;   
   overflow-y: scroll; 
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-weight: bold;
   text-align: center;
 }
 p {
   line-height: 1.45;
   margin-bottom: 1.5rem;
   text-align: center; 
   font-weight: 300;
   font-size: 1.8rem;
 }
small {
  font-size: 1.5rem;
}
 a {
   text-decoration: none;
   padding: 1rem 4rem;
   margin: 0;
   color: var(--docMain);
   font-weight: 300;
 }
 li {
   list-style-type: none;
 }
 img {
  vertical-align: middle;
  padding: 10px;
}

/* NAV */
.main-search,
.mirror-search {
  margin: 0;
}

.main-search {
  padding: 5px;
  line-height: 3rem;
  font-size: 2em;

}
.main-mirror {
  /* img replacement */
  text-indent: -99999px;
  width: 3rem;
  height: 3rem;
  display: block;
  background-image: url(../IMG/search-50.png) 0 0 no-repeat;
}