
:root {
   --colorSecond: #666;
   --colorMain: #222;
   --colorBgMain:  #fff;
   --colorBgSecond: #F0F0F0;
   --colorDistinct: #F47E00;
 }
 
 html {
   box-sizing: border-box;
   font-size: 10px;
 }
 
 *,
 *:before,
 *:after {
      box-sizing: inherit;
 }
 
 body {
   margin: 0;
   padding: 0;
   color: var(--colorMain);
   background-color: var(--colorBgMain);
   font-family: 'Lora', Georgia, Times, serif;
   font-size: 2rem;
   text-shadow: 0, 2px, 0 rgba(0,0,0, .07);
   -webkit-overflow-scrolling: touch;   
   overflow-y: scroll; 
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-weight: bold;
   text-align: center;
 }
 p {
   line-height: 1.45;
   margin-bottom: 1.5rem;
   text-align: center; 
   font-weight: 300;
   font-size: 1.8rem;
   padding-bottom: 2rem;
 }
p:last-of-type {
  padding-bottom: 0;
}

small {
  font-size: 1.5rem;
}

 a {
   text-decoration: none;
   margin: 0;
   font-weight: 300;
   color: var(--colorSecond);
 }

 a:hover,
 a:focus {
   color: var(--colorDistinct);
 }

 li {
   list-style-type: none;
 }

 img {
  vertical-align: middle;
  padding: 10px;
  width: 100%;
  max-width: 100%;
  height: auto;
}
h4 {
  font-size: 125%;
  text-align: left;
  padding: 30px 0;
}
h5 {
  text-align: left;
  margin: 0;
}
blockquote {
  position: relative;
  font-weight: bold;
  border-top: 1px dashed #cacaca;
  border-bottom: 1px dashed #cacaca;
  text-align: left;
  line-height: 1.6em;
  font-size: 100%;
  padding: 20px 5em;
}

blockquote:before {
  content: "\201c";
  position: absolute;
  left: 30px;
  color: #ededed;
  font-size:  10rem; 
  top: 50px;
}
/* IMAGE EMBED */
.img_embed {
  display: flex;

}
.img_embed img {
  object-fit: contain;
  align-self: flex-start;
  margin: 20px 20px 0 0;
  flex: 2
}
.img_embed p {
  flex: 3;
}

.post_bio,
.prev_post {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 50px;
}
.post_bio img,
.prev_post img {
  flex: 1;
  border: 1px solid transparent;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  object-fit: contain;
  min-width: 150px;
}
.prev_post-img {
  display: flex;
  align-items: center;

}
.prev_post-img > a {
  flex: 2;
  font-size: 200%;
}
.prev_post-img img {
  display: flex;
  justify-content: flex-end;
  flex:1;
}
.post_bio p,
.prev_post p {
  flex: 6;
}
.author_text,
.author_img  {
  padding: 0;
  margin: 0;
}
.author_text p { margin: 0; }

.rel_posts {
  display: flex;
}
.rel_posts-item {
  flex: 1;  
}
.related {
  width: 100%;
  padding: 0 50px;
  margin-bottom: 50px;
}

.rel_posts img {
  border: 1px solid transparent;
  border-radius: 25px;

}
/* Container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 350px;
}
/* NAV */

#navbar  {
  border: 1px solid var(--colorBgSecond);
  display: flex;
  margin: 0;
  }
  /* Nav Menu */
  .nav-menu {
    flex: 4;
    padding: 0;
    margin: 0;
    margin-left: 10%;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: start;  
  }

  .nav-menu ul{
    display: flex;
    margin: 0;
    padding: 0;
  }

  .nav-menu a {
    padding: 0;
    margin-right: 15px;
    font-size: 1.65rem;
  }

  .nav-menu a:last-child{
    margin-right: 0;
  }
  /* Nav Social */
  .nav-social {
    flex: 2;
    padding: 1rem 0;
    margin: 0;
    border-right: 1px solid var(--colorBgSecond);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-social ul{
    display: flex;
    padding: 0;
    margin: 0;
  }

  .nav-social a {
    padding: 0;
    margin: 0 5px;
    color: var(--colorMain);
    font-size: 2.5rem;
  }


 .nav-social a:hover,
 .nav-social a:focus {
   color: var(--colorDistinct);
 }

 .nav-menu a:hover,
 .nav-menu a:focus,
 .nav-menu a:active {
   color: var(--colorMain);
 }

.input-group {
  padding: 0;
  margin: 0;
  margin-right: 10%;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: end;
}

input[type="search"] {
 font-style: oblique;
 font-size: 1.4rem;
 border: 1px solid transparent;
 border-bottom: 1px dotted var(--colorBgSecond);
 display: none;
}

input[type="search"],
.btn-search i
 {
  padding: 5px;
  margin: 0;
  background-color: var(--colorBgMain);
}

.fa-search {
  border: 2px solid var(--colorSecond);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  color: var(--colorSecond);
}

.fa-search:hover,
.fa-search:focus {
  color: var(--colorBgMain);
  background-color: var(--colorSecond);
}

.btn-search {
  margin: 0;
  background-color: var(--colorBgMain);
  padding: 2px;
  border: transparent;
}

.toggler {
  display: none;
  font-size: 4rem;
  padding: 5px 0;
  border: 2px solid var(--colorBgSecond);
  margin: 5px 20px;
  color: var(--colorSecond);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

/* Main */
main {
  width: 70%;
  margin: 3rem auto 0;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column; 
}
article {
  display: flex;
  margin: 0;
  padding: 50px 0;
  justify-content: center;
  align-items: center;
  border-bottom: 2px dotted var(--colorBgSecond);
}
.img-section {
  flex: 4;
  margin: 0;
  padding: 0;
  display: flex;
}

 .img-section img {
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  flex: 1;
} 
 
.text-section {
  flex: 8;
  margin: 0;
  padding: 10px;
  margin-left: 15px;
}

.text-section h3,
.text-section p {
  text-align: left;
}

.text-section > * {
  padding: 2rem auto;
  margin: 0;
}
.text-section > blockquote {
  margin: 50px 0;
}
.info-section {
  display: flex;
  font-size: 70%;
  justify-content: start;
  align-items: center;
}

.info-section > * {
  margin-right: 15px;
}

.info-section>*:last-child {
  margin-right: 0;  
}

 .author img {
  width: 60px;
  border: 1px solid transparent;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  padding: 5px;
}
.article-btn { margin-top: 2rem; }

.article-btn  a  {
  font-size: 1.68rem;
  color: var(--colorMain);
  padding: 10px 25px;
  background-color: var(--colorBgMain);
  border: 1px solid var(--colorDistinct);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  }

.article-btn a:hover,
.article-btn a:focus {
  background-color: var(--colorDistinct);
  color: var(--colorBgMain);
}

/* BreadCrumbs */
#bcrumbs {
  display: flex;
  border-top: 1px solid var(--colorBgSecond);
  padding: 7rem 0;
}

 .bcrumb-item {
  border: 2px solid var(--colorBgSecond);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  padding: 15px;
  margin-right: 10px;
  -o-border-radius: 50%;
}

 .bcrumb-item:hover,
 .bcrumb-item:focus {
  border-color: var(--colorDistinct);
}

#bcrumbs .active {
    border-color: var(--colorDistinct);
}

/* Upper Footer */
.upper__footer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 65%;
  margin: 0 auto; 
}
.upper__footer p {
  font-size: 80%;
}
.upper__footer span {
  font-weight: bold;
}

.upper__footer h4 {
  margin: 0;
  padding:10px 0;
}
/* Upper Footer one */
.upper__footer-item {
  display: flex;
  flex: 1;
  padding: 0;
  margin: 0;
}
    .upper__footer-one {
      /* padding-left: 5%;  */
      flex-direction: column;
  }
   .upper__footer-one p,
   .upper__footer-one h4 {
     text-align: left;
   }
  /* Upper footer 2 */
 
    .upper__footer-two {
      flex-direction: column;
      align-items: center;  
    }
    .upper__footer-two .nav-menu {
      margin: 2rem 0;
      padding: 0;
      display: flex;
      align-items: start;
    }
        .upper__footer-two .nav-menu ul{
          display: flex;
          flex-direction: column;
          margin: 0;
          padding: 0;
        }
        .upper__footer-two .nav-menu a {
          padding-top: 1rem;
        }
        .upper__footer-two .nav-menu a:first-of-type {
          padding-top: 0;
        }
    /* Upper footer 3 */
    .upper__footer-three {
      flex-direction: column;
      justify-content: center;  
      align-items: start;  
       padding-left: 7%; 
       display:flex;
    }
    .upper__footer-three > * { flex: 1; }
    .upper__footer-three p {
      margin: 3px 0;
    }
    .upper__footer-three .nav-social {
      border-right: 0;
      padding: 0;
      margin: 0;
      align-items: start;
      display: flex;
    
    }
  
/* Footer */
    #footer-main {
      display: flex;
      padding: 20px;
      padding-left: 50px;
      margin-top: 4rem; 
      border-top: 1px solid var(--colorBgSecond);
      font-size: 70%;
      align-items: center;
    }

/* MEDIA @ 935px */
@media screen and (max-width: 935px) {
  .related {
    width: 80%;
    padding: 0 5px;
    margin-bottom: 25px;
    text-align: center;
    }
  
  .related h5,
  .related h4 {
     text-align: left; 
     margin-left: 3%;
  }
  .related h5 {
    font-size: 70%;
  }
  .rel_posts-item {
    padding-bottom: 30px;
  }
    /* Nav Menu */
    .nav-menu {
      margin-left: 8%;
      flex:3
  }
   .nav-menu a {
      margin-right: 12.5px;
      font-size: 85%;
    }
    .nav-social {
      flex:1;
    }
    .input-group {
      margin-right: 8%;
    }

    /* Main */
main {
  margin: 2rem auto 0; 
}
article {
  margin: 0;
  padding: 30px 0;
  flex-direction: column;
}

 .img-section img {
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
} 

   /* Upper Footer */
.upper__footer {
  justify-content: center;
  align-items: stretch;
  flex-direction: column; 
}

.upper__footer-item h4 { text-align: left; }
  /* Upper footer 2 */
  .upper__footer-two {
    align-items: start; 
  }

  .upper__footer-two .nav-menu {
      width: 100%;
      margin: 1rem 0;
    }
        .upper__footer-two .nav-menu ul{
          flex-direction: row;
          margin: 0;
          padding: 0;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .upper__footer-two .nav-menu a {
          padding-top: 0;
        }
 
    /* Upper footer 3 */
    .upper__footer-three {  
       padding-left: 0; 
    } 
}

/* MEDIA @ 752px */
@media screen and (max-width: 752px) {
  /* Basic styles */
  h1 {
    font-size: 3.6rem;
  }
  blockquote {
    line-height: 1.46em;
    font-size: 90%;
  }
  
  blockquote:before {
    content: "\201c";
    position: absolute;
    left: 10px;
    color: #ededed;
    font-size:  10rem; 
    top: 50px;
  }
  .related h5 {
    font-size: 100%;
  }
  .rel_posts {
    flex-direction: column;
  }
  .rel_posts-item {
   
    flex-direction: column;
  }
  .rel_posts-item img {
    order: 1;
    align-items: flex-start;
  }
  /* Navbar */
  #navbar {
    flex-direction: column;
    width: 100%;
    display: none;
  }
  .nav-menu,
  .nav-social,
  .input-group {
    margin: 0;
    justify-content: center;
    align-items: center;
  }
  .toggler {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .fa-times {
    opacity: 0;
    z-index: 2;
    color: var(--colorDistinct);
  }
  .fa__visible {
    opacity: 1;
  }
  .fa__hidden {
    opacity: 0;
  }
  .nav-menu ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-menu a {
    margin-right: 0;
    font-size: 100%;
  }
  .nav-menu li {
    padding-bottom: 10px;
  }

  .nav-social a {
    font-size: 110%;
  }
  .input-group {
    padding: 10px 0;
  }
  main {
    width: 100%;
    padding: 10px 3%; 
  }

 /* Info-section  */
 .info-section {
    font-size: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .info-section > * {
    margin: 3px 0 5px;
  }

  .info-section>*:first-child {
    margin-top: 10px;  
  }
/* BreadCrumbs */
#bcrumbs {
  padding: 3rem 0;
}
/* Upper footer */
  .upper__footer-two .nav-menu ul{
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  .upper__footer-two .nav-menu a {
    padding-top: 0;
  }



}


