
:root {
   --colorSecond: #666;
   --colorMain: #222;
   --colorBgMain:  #fff;
   --colorBgSecond: #F0F0F0;
   --colorDistinct: #F47E00;
 }
 
 html {
   box-sizing: border-box;
   font-size: 10px;
 }
 
 *,
 *:before,
 *:after {
      box-sizing: inherit;
 }
 
 body {
   margin: 0;
   padding: 0;
   color: var(--colorMain);
   background-color: var(--colorBgMain);
   font-family: 'Lora', Georgia, Times, serif;


   font-size: 2rem;
   text-shadow: 0, 2px, 0 rgba(0,0,0, .07);
   -webkit-overflow-scrolling: touch;   
   overflow-y: scroll; 
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-weight: bold;
   text-align: center;
 }
 p {
   line-height: 1.45;
   margin-bottom: 1.5rem;
   text-align: center; 
   font-weight: 300;
   font-size: 1.8rem;
 }
small {
  font-size: 1.5rem;
}
 a {
   text-decoration: none;
   margin: 0;
   font-weight: 300;
   color: var(--colorSecond);
 }
 li {
   list-style-type: none;
 }
 img {
  vertical-align: middle;
  padding: 10px;
}

/* NAV */

#navbar  {
  border: 1px solid var(--colorBgSecond);
  display: flex;
  margin: 0;
  }
  /* Nav Menu */
  .nav-menu {
    flex: 4;
    padding: 0;
    margin: 0;
    margin-left: 15%;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: start;  
  }
  .nav-menu ul{
    display: flex;
    margin: 0;
    padding: 0;
  }

  .nav-menu a {
    border: 1px solid red;
    padding: 0;
    margin-right: 10px;
    font-size: 1.65rem;
  }
  .nav-menu a:last-child{
    margin-right: 0;
  }
  /* Nav Social */
  .nav-social {
    flex: 1;
    padding: 1rem 0;
    margin: 0;
    border-right: 1px solid var(--colorDistinct);
  }
  .nav-social ul{
    display: flex;
    flex: 1;
    padding: 0;
    margin: 0;
  }
  .nav-social a {
    border: 1px solid red;
    padding: 0;
    margin: 0 5px;
    color: var(--colorMain);
  }
 .nav-social a:hover,
 .nav-social a:focus {
   color: var(--colorDistinct);
 }
 .nav-menu a:hover,
 .nav-menu a:focus,
 .nav-menu a:active {
   color: var(--colorMain);
 }


 /*
.input-group {
  padding: 0;
  margin: 0;
  display: flex;
  flex: 1;
 }

#main-search,
#mirror-search {
  margin: 0;
  border: 1px solid #000;

}

#main-search {
    font-size: 2rem;
  border-right: transparent;

}
#mirror-search {
  /* img replacement
 text-indent: -99999px;
  background: white url(../IMG/search-50.png) no-repeat;
  background-size: contain;
  background-position: center;
  border-left: transparent;
  font-size: 2rem;
} */



